/*==========
POR DEFECTO
 */
html {
    overflow-x: scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.enlaces {
    color: blue;
    text-decoration: underline;

}

.enlaces:hover {
    text-decoration: none;
}

.enlaces:visited {
    color: #883EAD;
}

/*END POR DEFECTO
 ==========*/

.google-slides-container {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*================
TYPOGRAPHY*/

h1 {
    font-size: 1.05rem;
    color: black;
    text-align: center;
    font-weight: 700;
}

h2 {
    font-size: .95rem;
    color: black;
    text-align: center;
    font-weight: 400;
}

h3 {
    font-size: .95rem;
    color: black;
    text-align: center;
    font-weight: 700;
}

h4 {
    font-size: 2rem;
    color: white;
    margin-bottom: 0;
    text-align: center;
}

h5 {
    font-size: 1.1rem;
    font-weight: 400;
    color: white;
    margin-top: 0;
    text-align: center;
}

h6 {
    margin: 20px auto;
    max-width: 900px;
    font-weight: 700;
    font-size: 1.05rem;
    text-align: justify;
}

p {
    margin: 0 auto;
    max-width: 900px;
    font-weight: 400;
    font-size: .95rem;
    text-align: justify;
    line-height: 1.8rem;
}

.black-list {
    margin: 20px auto;
    max-width: 900px;
    font-weight: 700;
}

.white-list {
    margin: 15px auto;
    max-width: 900px;
    list-style: disc;
}

/*END TYPOGRAPHY
 ===============*/

/*================
ENCABEZADO*/

.indice { /*Indice de contenido*/
    position: fixed;
    top: 0;
    right: 0;
    left: 100%;
    margin: 0 auto;
    width: 100%;
    padding: 0 0 50px 0;
    list-style: none;
    background-color: #f1f1f1;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform 250ms;
    z-index: 5;
}

.open-btn {
    position: absolute;
    left: 10px;
    top: 12px;
    width: 15%;
    font-size: 1.6rem;
    font-weight: 700;
    border: 0;
    background: white;
    color: black;
    cursor: pointer;
    padding: .5em;
}

.abrir-indice {
    transform: translateX(-100%);
}

.close-btn {
    position: relative;
    left: 5%;
    border: 0;
    background: 0;
    color: black;
    font-size: 3rem;
    cursor: pointer;
    padding: .2em;
}

header {
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.icon { /*iconos en el indice*/
    padding-right: 10px;
    height: 1.2rem;
    vertical-align: middle;
}

.menu-icon {
    height: 25px;
    padding: 10px 22px;

}

.contenido-subunidad { /**ABAJO DEL ENUNCIADO*/
    margin: 0 auto;
    background-color: white;
    width: 90%;

}

.unidad {
    padding: 8px 10px;
    font-size: .95rem;
    font-weight: 700;
    background-color: #dbdbdb;
}

.subunidad {
    padding: 2px 5px;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
}

.subunidad:hover {
    background-color: #bfbfbf;
}

.menu-icon:hover {
    background-color: #bfbfbf;
}

.actual:hover {
    background-color: #5f5f5f;
}

.actual {
    background-color: #5f5f5f;
    color: white;
}

.texto-subunidad {
    display: inline;
    text-align: left;
    margin: 6px 15px;
    font-size: .95rem;
}

footer {
    padding: 20px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/*END CONTENIDO
 ===============*/

@media (min-width: 1250px) {
    html {
        overflow-x: hidden;
    }

    .open-btn, .close-btn {
        display: none;
    }

    body {
        display: grid;
        grid-template: 75px auto 75px / 25% 75%;
    }

    header {
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    footer {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
    }

    .indice {
        position: inherit;
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .contenido-subunidad {
        max-width: 1200px;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    h4 {
        font-size: 2.2rem;
    }

    h5 {
        font-size: 1.3rem;

    }

    p {
        font-size: 1rem;
        line-height: 1.8rem;
    }

    .icon {
        height: 1.3rem;
    }


}

/*END ENCABEZADO
 ===============*/

/*================
CONTENIDO*/

