/*CONTENIDO DEL CURSO*/
.image1 {
    background-image: url("https://filedn.com/lI8wAFRCHTkXQQM0PTWcKT5/metalica/img/miembros%20a%20tension/area%20neta%20pernos%20en%20linea/er1_001.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1050px;
    width: 100%;


}

.image2 {
    background-image: url("https://filedn.com/lI8wAFRCHTkXQQM0PTWcKT5/metalica/img/miembros%20a%20tension/area%20neta%20pernos%20en%20linea/er1_002.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 1050px;
    width: 100%;
}