html {
    font-size: 62.5%;
}


body {
    background-color: white;
    overflow-x: hidden;
}

/*ICONO HAMBURGUESA CON TRANSFORMACION EN X*/

.bar {
    /*Estilo de las tres rayitas*/
    height: 3px;
    width: 100%;
    background-color: black;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    /*Las tres rayitas se vuelven una sola*/
    transform: translateY(-4px);
}

#bar3 {
    /*Las tres rayitas se vuelven una sola*/
    transform: translateY(4px);
}

.change .bar {
    /*Click para cambiar el fondo de las rayitas*/
    background-color: black;
}

.change #bar1 {
    /*Click para mover y rotar la rayita superior*/
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
    /*Click para mover y rotar la rayita inferior*/
    transform: translateY(-4px) rotate(45deg);
}

.change #bar2 {
    /*Click para esconder la rayita del medio*/
    opacity: 0;
}

#menu {
    /*Container tres rayitas de la hamburguesa*/
    position: absolute;
    left: 20px;
    top: 0;
    width: 32px;
    height: 12px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

/*BARRA DE NAVEGACION*/

.nav {
    /*Estilo del ul nav*/
    transition: 0.15s ease;
    display: none;
    /*El nav no debe verse al principio*/
}

.change {
    /*Muestra el nav al hacer click*/
    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: whitesmoke;

}

.menu-bg {
    /*Animacion Fondo de la Barra de Navegacion*/
    width: 0;
    background: whitesmoke;
    transition: width .15s ease;
    z-index: 1;
    /*Debajo de los links de navegacion*/
}

.menu-bar {
    width: 100vw;
    z-index: 2;
    /*Encima de la animacion de fondo*/
}

.change-bg {
    /*Fondo de la Barra de Navegacion*/
    width: 100vw;
    height: 110vh;
}

.menu-bg,
#menu-bar {
    /*Desconectarlos para que no se sobrepongan*/
    position: absolute;
    top: 0;
    left: 0;
}

/*HASTA AQUI LA BARRA DE NAVEGACION*/
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.menu-subunidad {
    width: 85%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 75px;

}

.parte-izq {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.parte-der {
    background-color: whitesmoke;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.flecha-izq {
    height: 75px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.inicio {
    height: 75px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-anterior {
    background-image: url("../img/flecha-izquierda.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.logo-inicio {
    background-image: url("../img/home.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.logo-siguiente {
    background-image: url("../img/flecha-derecha.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}

/*HASTA AQUI EL MENU DE LA SUBUNIDAD*/

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: black;
    text-align: center;
}

h2 {
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: black;
    text-align: justify;
    line-height: 2.6rem;
}

h3 {
    position: relative;
    top: 25px;
    left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    color: black;
    text-align: justify;
}


#contenido-general {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow: auto;
}

.enunciado {
    margin: 0 auto;
    background-color: white;
    padding: 0 20px;
    width: 100%;
}

p {
    position: relative;
    left: 30px;
}

/*CONTENIDO DEL CURSO*/

.contenido-subunidad {
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: center;

}

.video1 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.video1 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.read-more-wrap {
    /*Indice de contenido*/
    margin: 0 auto;
    width: 80%;
    overflow: auto;
}

.read-more-wrap .unidad {
    margin-top: 10px;
    width: 100%;
    min-height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    background-color: #dbdbdb;
}

.read-more-wrap .subunidad {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245, 245, 245);
    border-top: 2px solid whitesmoke;
}

#subunidad-actual {
    background-color: #4c4c4c;
}

.read-more-wrap .subunidad:hover {
    background-color: #4c4c4c;
    color: #d2d2d2;
    transition: .1s ease-in;
}

.read-more-wrap .texto-subunidad {

    display: inline-block;
    width: 90%;
    min-height: 40px;
    vertical-align: center;
    padding: 10px;
}

.read-more-wrap .subunidad-icon {
    /*tamaño del icono en la subunidad*/
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}


/*BOTON VER MAS/VER MENOS*/


/*.read-more-state {*/
/*    display: none;*/
/*}*/

/*.read-more-target {*/
/*    opacity: 0;*/
/*    max-height: 0;*/
/*    font-size: 0;*/
/*    transition: .25s ease;*/
/*}*/
/*!*Cuando hago click en Ver mas*!*/
/*.read-more-state:checked ~ .read-more-wrap .read-more-target {*/
/*    opacity: 1;*/
/*    font-size: inherit;*/
/*    max-height: 999em;*/
/*}*/
/*!*!*Contenido del Boton antes de hacer click*!*/
/*.read-more-state ~ .read-more-trigger:before {*/
/*    content: 'Ver mas >';*/
/*}*/
/*!*!*Contenido del Boton despues de hacer click*!*/
/*.read-more-state:checked ~ .read-more-trigger:before {*/
/*    content: 'Ver menos <';*/

/*}*/
/*!*!*Estilo del boton antes y despues de hacer click*!*/
/*.read-more-trigger {*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    padding: 0 .5em;*/
/*    color: black;*/
/*    font-size: .7em;*/
/*    font-family:'Poppins', Arial, sans-serif;*/
/*    line-height: 2;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: .25em;*/
/*}*/